<div id="title" th:fragment="top">
    <h1>航多知识管理系统</h1>
    <p><a>我的面板</a>&nbsp;&nbsp;<a th:class="${active=='yewu'?'yewu':''}">业务管理</a>&nbsp;&nbsp;<a>系统设置</a>您好,admin</p>
</div>
<div id="bar" th:fragment="left">
    <div id="clause">
        <h3 id="qwe">法规管理</h3>
        <div class="xiala">
            <p><a th:class="${active=='laws'?'active':''}" th:href="@{/fshow}">法规列表</a></p>
            <p><a th:class="${active=='page'?'active':''}" th:href="@{/allPage}">法规目录管理</a></p>
            <p><a th:class="${active=='page'?'active':''}" th:href="@{/getClauseAll}">条款列表</a></p>
        </div>
    </div>
    <div id="users">
        <h3>用户管理</h3>
        <div class="xiala">
            <p>用户列表</p>
        </div>
    </div>
    <div id="disscuss">
        <h3>咨询管理</h3>
        <div class="xiala">
            <p>资讯列表</p>
        </div>
    </div>
</div>

<!--系统设置的left-->
<div id="sett" th:fragment="settings">
    <div>设置</div>

    <div class="xia">
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/towzsz}">网站设置</a></p>
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/togsjs}">公司介绍</a></p>
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/tofwxy}">服务协议</a></p>
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/toyjsz}">邮件SMTP设置</a></p>
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/todxsz}">短信设置</a></p>
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/AdminInfo}">管理员管理</a></p>
        <p><a th:class="${active=='page'?'active':''}" th:href="@{/toyjfk}">意见反馈列表</a></p>

    </div>
</div>

<div th:fragment="footer" class="footer">
    <div class="foot">
        <span></span>
        <p><a th:href="@{/main}">适航知识</a></p>
    </div>
    <div class="foot">
        <span></span>
        <p><a th:href="@{/godisscuss}">咨询服务</a></p>
    </div>
    <div class="foot">
        <span></span>
        <p><a th:href="@{/myself.html}">我的</a></p>
    </div>
</div>