<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common::top}"></div>
<div>
    <div th:replace="~{common::settings(active='page')}"></div>
    <div id="main" class="">
        <a th:href="@{/toaddAdmin}">添加用户</a>
        <form action="/AdminInfo" method="post">
            <p>管理员手机：
                <input name="phone" th:value="${phone}">
            </p>
            <p>管理员姓名：
                <input name="name" th:value="${name}">
                <input type="submit" value="查询">
            </p>
        </form>

        <table border="1px">
            <tr>
                <td>管理员手机号</td>
                <td>管理员姓名</td>
                <td>添加日期</td>
                <td>操作</td>
            </tr>
            <tr th:each="l:${pageInfo.list}">
                <td th:text="${l.phone}"></td>
                <td th:text="${l.aname}"></td>
                <td th:text="${#dates.format(l.adddata,'yyyy-MM-dd')}"></td>
                <td>
                    <a href="#" th:onclick="'javascript:toupdateAdmin('+${l.id}+')'">编辑</a>
                    <a th:href="@{/s}">删除</a>
                </td>
            </tr>
        </table>

        <div>
            <a th:href="@{/AdminInfo(phone=${phone},name=${name},pageNum=${pageInfo.pageNum==pageInfo.getFirstPage()}?${pageInfo.getPageNum()}:${pageInfo.getPrePage()})}">
                上一页 </a>
            <a th:href="@{/AdminInfo(lawsid=${phone},like=${name},pageNum=${pageInfo.pageNum==pageInfo.getLastPage()}?${pageInfo.getPageNum()}:${pageInfo.getNextPage()})}">下一页</a>
        </div>
        <div>
            <a th:text="'第'+${pageInfo.getPageNum()}+'页/共'+${pageInfo.getPages()}+'条数据'"></a>
        </div>
    </div>
</div>
<script>
    function toupdateAdmin(id) {
        location.href = "/toupdateAdmin?id=" + id;
    }
</script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/djm-main.js}"></script>
</body>
</html>