<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common::top}"></div>
<div>
    <div th:replace="~{common::left(active='page')}"></div>
    <div id="main" class="addclause">
        <form action="/addClause" method="post">

            <p>法规：
                <select name="lawid">
                    <option th:value="0">请选择</option>
                    <option th:each="l:${laws}" th:value="${l.id}" th:text="${l.lawstype}+${l.lawsname}">请选择
                    </option>
                </select>
            </p>
            <p>所在目录：
                <select name="pageid">
                    <option>请选择</option>
                    <th:block th:fragment="mulu(allPage)">
                        <th:block th:each="page:${allPage}">
                            <option value=""></option>
                            <option th:if="${page.pagelevel==1}" th:text="'|-'+${page.pagename}" th:value="${page.id}"></option>
                            <option th:if="${page.pagelevel==2}" th:text="'|-|-'+${page.pagename}" th:value="${page.id}"></option>
                            <option th:if="${page.pagelevel==3}" th:text="'|-|-|-'+${page.pagename}" th:value="${page.id}"></option>
                            <option th:if="${page.pagelevel==4}" th:text="'|-|-|-|-'+${page.pagename}" th:value="${page.id}"></option>
                            <th:block th:if="${page.childpage!=null}"
                                      th:include="this::mulu(${page.childpage})"></th:block>
                        </th:block>
                    </th:block>
                </select>
            </p>
            <p>条款编号：
                <input name="clauseid">请输入数字和 . 并以数字结尾, 如22.33.44<span>*</span>
                <span hidden id="spa">必填项</span>
                <span hidden id="sp" color="red">请输入数字和 . 并以数字结尾!</span>
            </p>
            <p>条款编号别名：
                <input name="lawstype">
            </p>
            <p>条款版本号：
                <input name="lawsversion">
            </p>
            <p>条款标题：
                <input name="title">
                <span id="spat" hidden>必填信息</span>
            </p>
            <p>条款内容：
                <textarea name="ccontent" cols="30" rows="6"></textarea>
            </p>
            <p>关键词：
                <input name="keyword">
            </p>
            <p>
                <input type="submit" value="保存">
                <!--<input type="submit" value="保存">-->
                <input type="reset" value="返回">
            </p>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script>
    <!---->
    $("[name='clauseid']").focus(function () {
        var zz = /^\d(\.|\d)*\d$/;
        var v = $(this).val();

        if (zz.test(v) && v != "") {
            $(this).unbind('focus');
            $("#sp").hidden();
            $("#spa").hidden();
        }

    })
    $("[name='clauseid']").blur(function () {
        // alert(123)
        var v = $(this).val();
        var zz = /^\d(\.|\d)*\d$/;

        if (v == "") {
            $("#spa").show();
        }
        if (!(zz.test(v))) {
            $("#sp").show();
            $(this).focus();

        }


        // $("#sp").hidden();
    })

    $("[name='clauseid']").blur(checkClauseid);
    $("[name='title']").blur(checkTitle);

    function checkClauseid() {
        var clauseid = $("[name='clauseid']").val();
        if (clauseid == "") {
            $("#spa").show();
            return false;
        }
        return true;
    }

    function checkTitle() {
        var title = $("[name='title']").val();
        if (title == "") {
            $("#spat").show();
            return false;
        }
        return true;
    }


    $("form").submit(function () {
        var flag = true;
        if (checkClauseid() == false) {

            flag = false;
        }
        if (checkTitle() == false) {

            flag = false;
        }
        return flag;
    })
    $("[name='lawid']").change(function () {
        var fagui = $(this).val();
        $.post("/mulu","lawid="+fagui,function (data) {
            var st = " <option>请选择</option>";
            // var da = jQuery.parseJSON(data);
            var da = eval(data);
            // data.each(function (d, da) {
            //     alert(123);
            //     alert(data[d]);

            // })
           for(var d in da){
               if(da[d].pagelevel==1){
                   st += "<option value='"+data[d].id+"'>"+"|-"+data[d].pagename+"</option>";
               }
               if(da[d].pagelevel=="2"){
                   st += "<option value='"+data[d].id+"'>"+"|-|-"+data[d].pagename+"</option>";
               }
               if(da[d].pagelevel==3){
                   st += "<option value='"+data[d].id+"'>"+"|-|-|-"+data[d].pagename+"</option>";
               }
               if(da[d].pagelevel==4){
                   st += "<option value='"+data[d].id+"'>"+'|-|-|-|-'+data[d].pagename+"</option>";
               }
           }

            $("[name='pageid']").html(st);
        })
    })

</script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>