<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common::top}"></div>
<div>
    <div th:replace="~{common::left(active='page')}"></div>
    <div id="main" class="addclause">
        <form action="/addClause" method="post">

            <p>法规：
                <select name="lawid">
                    <option th:value="0">请选择</option>
                    <option th:each="l:${laws}" th:value="${l.lawsid}" th:text="${l.lawstype}+${l.lawsname}">请选择
                    </option>
                </select>
            </p>
            <p>所在目录：
                <input name="pageid">
            </p>
            <p>条款编号：
                <input name="clauseid">请输入数字和 . 并以数字结尾, 如22.33.44<span>*</span>
                <span hidden id="spa">必填项</span>
                <span hidden id="sp" color="red">请输入数字和 . 并以数字结尾!</span>
            </p>
            <p>条款编号别名：
                <input name="lawstype">
            </p>
            <p>条款版本号：
                <input name="lawsversion">
            </p>
            <p>条款标题：
                <input name="title">
                <span id="spat" hidden>必填信息</span>
            </p>
            <p>条款内容：
                <textarea name="ccontent" cols="30" rows="6"></textarea>
            </p>
            <p>关键词：
                <input name="keyword">
            </p>
            <p>
                <input type="submit" value="保存">
                <!--<input type="submit" value="保存">-->
                <input type="reset" value="返回">
            </p>
        </form>
    </div>
</div>
<script>
    <!---->
    $("[name='clauseid']").focus(function () {
        var zz = /^\d(\.|\d)*\d$/;
        var v = $(this).val();

        if (zz.test(v) && v != "") {
            $(this).unbind('focus');
            $("#sp").hidden();
            $("#spa").hidden();
        }

    })
    $("[name='clauseid']").blur(function () {
        // alert(123)
        var v = $(this).val();
        var zz = /^\d(\.|\d)*\d$/;

        if (v == "") {
            $("#spa").show();
        }
        if (!(zz.test(v))) {
            $("#sp").show();
            $(this).focus();

        }


        // $("#sp").hidden();
    })

    $("[name='clauseid']").blur(checkClauseid);
    $("[name='title']").blur(checkTitle);

    function checkClauseid() {
        var clauseid = $("[name='clauseid']").val();
        if (clauseid == "") {
            $("#spa").show();
            return false;
        }
        return true;
    }

    function checkTitle() {
        var title = $("[name='title']").val();
        if (title == "") {
            $("#spat").show();
            return false;
        }
        return true;
    }


    $("form").submit(function () {
        var flag = true;
        if (checkClauseid() == false) {

            flag = false;
        }
        if (checkTitle() == false) {

            flag = false;
        }
        return flag;
    })


</script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>