<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>条款列表</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{common::top}"></div>
<div>
    <div th:replace="~{common::left(active='page')}"></div>
    <div id="main" class="clauseinfo">
        <form th:action="@{/getClauseAll}" method="post">
    <span>
        选择法规
        <select name="lawsid">
            <option value="0">请选择</option>
            <option th:each="l:${laws}" th:value="${l.lawsid}" th:text="${l.lawstype}+${l.lawsname}"></option>
        </select>
    </span>
            <span>
        条款号<input name="clauseid">
    </span>
            <span>
        关键词<input name="like">
    </span>
            <input type="submit" value="查询">
        </form>
        <a th:href="@{/toaddClause}">添加条款</a>
        <table border="1px">
            <tr>
                <td>条款号</td>
                <td>条款标题</td>
                <td>所属法规名称</td>
                <td>版本号</td>
                <td>操作</td>
            </tr>
            <tr th:each="p:${pageInfo.list}">
                <td th:text="${p.clauseid}"></td>
                <td th:text="${p.title}"></td>
                <td th:text="${p.laws.lawsname}"></td>
                <td th:text="${p.lawsversion}"></td>
                <td>
                    <a href="#" th:onclick="'javascript:toupdateClause('+${p.id}+')'">修改</a>
                    <a th:href="@{/delClause(id=${p.id})}" th:onclick="|return delClasuse()|" th:value="${p.id}">删除</a>
                </td>
            </tr>
        </table>
        <div>
            <a th:href="@{/getClauseAll(lawsid=${lawsid},like=${like},clauseid=${clauseid},pageNum=${pageInfo.pageNum==pageInfo.getFirstPage()}?${pageInfo.getPageNum()}:${pageInfo.getPrePage()})}">
                上一页 </a>
            <a th:href="@{/getClauseAll(lawsid=${lawsid},like=${like},clauseid=${clauseid},pageNum=${pageInfo.pageNum==pageInfo.getLastPage()}?${pageInfo.getPageNum()}:${pageInfo.getNextPage()})}">下一页</a>
        </div>
        <div>
            <a th:text="'第'+${pageInfo.getPageNum()}+'页/共'+${pageInfo.getTotal()}+'条数据'"></a>
        </div>
    </div>
</div>
<script>
    function delClasuse() {
        if (confirm("您确定要删除此条款吗？")) {
            return true;
        }
        return false;
    }

    function toupdateClause(id) {
        location.href = "/toupdateClause?id=" + id;
    }

</script>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/djm-main.js}"></script>
</body>
</html>
