<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户修改</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common::top}"></div>
<div>
    <div th:replace="~{common::settings(active='page')}"></div>
    <div id="main" class="">
        <!--<a th:href="@{}">添加用户</a>-->
        <form action="/updateAdmin" method="post">
            <input name="id" type="hidden" th:value="${adminById.id}">
            <p>管理员姓名：
                <input name="aname" th:value="${adminById.aname}">
            </p>
            <p>管理员手机号：
                <input name="phone" th:value="${adminById.phone}">
            </p>
            <p>密码：
                <input name="password" type="password">若不修改，请留空
            </p>
            <p>确认密码：
                <input name="ispwd" type="password">
            </p>
            <p>用户角色：
                <input type="checkbox" name="role" th:checked="${adminById.role==1}" value="1">
                航多知识管理系统维护管理员
            </p>
            <p>备注：
                <input name="remark" th:value="${adminById.remark}">
            </p>
            <p>
                <input type="submit" value="保存">
                <input type="reset" value="返回">
            </p>
        </form>


</div>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/djm-main.js}"></script>
</body>
</html>