<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common::top}"></div>
<div>
    <div th:replace="~{common::left(active='page')}"></div>
    <div id="main" class="allpage">
        <div><a th:href="@{/allPage}" style="background-color: dodgerblue">法规目录列表</a>&nbsp;&nbsp;&nbsp;<a th:href="@{/addFirstPage-html}">添加法规目录</a></div>
        <div id="lawsChoose">
            <form>
                <p>
                    选择法规:
                    <select name="lawsid">
                        <option th:each="law:${allLaws}" th:text="${law.getLawsname()}" th:value="${law.id}"></option>
                    </select>
                    <button type="submit">查询</button>
                </p>
            </form>
        </div>
        <div>
            <table border="1px">
                <thead>
                <tr >
                    <td>目录名称</td>
                    <td>排序</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody th:each="laws:${allLaws}">
                <tr th:each="law:${allLaws}" th:if="${laws.id==law.id}">
                    <td th:text="${law.getLawsname()}"></td>
                    <td><input type="text" th:value="0"></td>
                    <td><a>修改</a>&nbsp;&nbsp;<a>删除</a>&nbsp;&nbsp;<a th:href="@{/addFirstPage-html}">添加下级菜单</a></td>
                </tr>
                <tr th:if="${laws.pages.size()>0}" th:each="page:${laws.pages}">
                    <td th:text="${page.pagename}"></td>
                    <td><input th:value="${page.pagelevel}"></td>
                    <td><a th:href="@{/uNextPage-html(id=${page.id})}">修改</a>&nbsp;&nbsp;<a>删除</a>&nbsp;&nbsp;<a th:href="@{/nextPage-html(id=${page.id})}">添加下级菜单</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>