<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{common::top(active='yewu')}"></div>
<div>
    <div th:replace="~{common::left(active='page')}"></div>
    <div id="main" class="firstpage">
        <div><a th:href="@{/allPage}">法规目录列表</a>&nbsp;&nbsp;&nbsp;<a th:href="@{/addFirstPage-html}" style="background-color: dodgerblue">添加顶级目录</a></div>
        <form th:action="@{/addFirstPage}" method="post">
            <p>
                目录名称:<input type="text" name="pagename" id="f1">
                <span id="span1"></span>
            </p>
            <hr>
            <p>
                同级目录排序:<input type="text" name="pagesort" id="f2">
                <span id="span2"></span>
            </p>
            <hr>
            <p>
                所属法规:
                <select name="lawsid">
                    <option th:each="law:${allLaws}" th:text="${law.getLawsname()}" th:value="${law.id}"></option>
                </select>
            </p>
            <hr>
                上级目录:<input type="text" name="pageparent" readonly th:placeholder="法规目录" value="0" hidden>
            <input type="text" readonly  value="顶级目录">
            </p>
            <hr>
            <p>
                <input type="text" value=1 name="pagelevel" hidden>
                <input type="submit" value="提交">
            </p>
        </form>

    </div>
</div>


<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    //目录非空验证
    function mulu() {
        var name=$("#f1").val();
        if(name==""){
            $("#span1").html("请输入目录名称");
            return false;
        }else {
             if(name.length>5){
                 // alert("长度过长")
                 var ss=name.substring(0,8);
                 $("#span1").html("");
                 $("#f1").val("");
                 $("#f1").val(ss);
            }else{
            $("#span1").html("");
            }
        }
    }
    $("#f1").blur(mulu)
    //同级目录目录排序数字验证
    function tjmulu() {
        var retNum=/^\d*$/;
        var num=$("#f2").val();
        if(num==""){
            $("#span2").html("请输入同级目录");
            return false;
        }else {
            if(retNum.test(num)){
                $("#span2").html("");
            }else{
                $("#span2").html("同级目录排序，请输入数字");
                return false;
            }
        }
    }
    //表单提交
    $("form").submit(function () {
        if(mulu()==false){
            return false;
        }
        if(tjmulu()==false){
            return false;
        }
        return true;
    })


</script>
</body>
</html>