<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common::top(active='yewu')}"></div>
<div>
    <div th:replace="~{common::left(active='page')}"></div>
    <div id="main" class="firstpage">
        <div><a th:href="@{/allPage}">法规目录列表</a>&nbsp;&nbsp;&nbsp;<a th:href="@{/addFirstPage-html}" style="background-color: dodgerblue">添加法规目录</a></div>
        <form th:action="@{/addNextPage}" method="post">
            <p>
                <input type="text" hidden th:value="${num!=null}?${nextPage.id}" name="id">
                <input name="_method" value="put" th:if="${num!=null}" type="hidden">
                目录名称:<input type="text" id="f1" name="pagename" th:value="${num!=null}?${nextPage.pagename}" >
                <span id="span1"></span>
            </p>
            <hr>
            <p>
                同级目录排序:<input type="text" id="f2" name="pagesort" th:value="${num!=null}?${nextPage.pagesort}:(${nextPage.childpage==null}?'1':${nextPage.childpage.size()+1})" >
                <span id="span2"></span>
            </p>
            <hr>
            <p>
                所属法规:
                <select name="lawsid">
                    <option th:each="law:${allLaws}" th:text="${law.getLawsname()}" th:value="${law.id}" th:checked="${law.id==nextPage.lawsid}"></option>
                </select>
            </p>
            <hr>
            <p>
                上级目录:<input type="text" name="pageparent" readonly th:placeholder="${nextPage.pagename}" th:value="${num!=null}?${nextPage.pageparent}:${nextPage.id}" hidden>
                <input type="text" readonly  th:value="${num!=null}?'':${nextPage.pagename}">
            </p>
            <hr>
            <p>
                <input type="text" th:value="${num!=null}?${nextPage.pagelevel}:${nextPage.pagelevel+1}" name="pagelevel" hidden>
                <input type="submit" value="提交">
            </p>
        </form>
    </div>
</div>
<script src="webjars/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    //判断目录是否为空和长度限制
    function mulu() {
        var name = $("#f1").val();
        if (name == "") {
            $("#span1").html("请输入目录名称");
            return false;
        } else {
                $("#span1").html("");
            if (name.length > 5) {
                $("#span1").html("");
                var ss = name.substring(0, 5);
                $("#f1").val("");
                $("#f1").val(ss);
            }
            }

    }
    $("#f1").blur(mulu)

        //同级目录目录排序数字验证
    function tjlu() {
            var retNum=/^\d*$/;
            var num=$("#f2").val();
            if(num==""){
                $("#span2").html("请输入同级目录排序");
                return false;
            }
            else {
                if(retNum.test(num)){
                    $("#span2").html("");
                }else{
                    $("#span2").html("同级目录排序，请输入数字");
                    return false;
                }
            }

    }
    $("#f2").blur(tjlu)
    //表单提交
    $("form").submit(function () {
        if(mulu()==false){
            return false;
        }
        if(tjlu()==false){
            return false;
        }
        return true;
    })
</script>
</body>
</html>