<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>

<div>
    <div id="title">
        <h1>航多知识管理系统</h1>&nbsp;&nbsp;&nbsp;&nbsp;<a>我的面板</a>&nbsp;&nbsp;<a>业务管理</a>&nbsp;&nbsp;<a>系统设置</a>
        <p>您好,admin</p>
    </div>
    <div id="bar">
        <div id="clause">
            <h3 id="qwe">法规管理</h3>
            <div class="xiala">
                <p>法规列表</p>
                <p>法规目录管理</p>
                <p>条款列表</p>
            </div>
        </div>
        <div id="users">
            <h3>用户管理</h3>
            <div class="xiala">
                <p>用户列表</p>
            </div>
        </div>
        <div id="disscuss">
            <h3>咨询管理</h3>
            <div class="xiala">
                <p>资讯列表</p>
            </div>
        </div>
    </div>
    <div id="main">

    </div>
</div>
<script  type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script  type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>