<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
</head>
<body>
<form>
    <p>旧密码：<input type="password" name="oldPwd"><span id="oldP"></span></p>
    <p>新密码：<input type="password" name="newPwd" id="newPwd"><span id="newP"></span></p>
    <p>确认新密码：<input type="password" name="qNewPwd"><span id="qNewP"></span></p>
    <p><button type="button" th:onclick="'javascript:gaiMi('+${session.user.id}+')'">修改</button></p>
    <p><button type="button"><a href="myself.html">返回</a></button></p>
</form>
</body>
<script>

    function gaiMi(id) {
        $("#oldP").html("");
        $("#newP").html("");
        $("#qNewP").html("");
        var oldPwd=$("[name='oldPwd']").val();
        if (oldPwd==null||oldPwd===""){
            $("#oldP").html("旧密码不可为空！！！");
            return false;
        }
        var newPwd=$("[name='newPwd']").val();
        if (newPwd==null||newPwd===""){
            $("#newP").html("新密码不可为空！！！");
            return false;
        }
        var qNewPwd=$("[name='qNewPwd']").val();
        if (qNewPwd==null||qNewPwd===""){
            $("#qNewP").html("确认新密码不可为空！！！");
            return false;
        }
        if (qNewPwd!==newPwd){
            $("#qNewP").html("确认密码必须与新密码一致！！！");
            return false;
        }
        var flag=confirm("是否确认修改您的密码？");
        var password=$("#newPwd").val();
        if (flag){
            $.get("/miGai",{"id":id,"password":password},function (flag) {
                if (flag==="true"){
                    alert("修改成功！");
                    location.href='/exit';
                }else if (flag==="false"){
                    alert("修改失败！");
                }
            });
        }
    }

</script>
</html>