<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<center>
    <div>
        <form method="post" th:action="@{/dosearch}">
            <input placeholder="请输入搜索条款编号，例25.1309" id="search" name="stext"><input type="submit" value="搜索">
        </form>
        <div>
            <span>历史记录:</span>
            <a th:if="${search!=null}" th:each="sea:${search}" th:text="${sea}+'&nbsp;&nbsp;'"
               th:href="@{/dosearch(stext=${sea})}"></a>
        </div>
        <p th:if="${searchClause!=null}" th:each="clause:${searchClause}">
            <a th:href="@{/oneClause(id=${clause.id})}"><b th:text="${clause.clauseid}"></b><span th:text="${clause.title}"></span></a>
        </p>

    </div>
</center>
</body>
</html>