<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
</head>
<body>
<form action="/login" method="post">
    <p><input type="text" name="userphone" placeholder="手机号码"></p>
    <p id="mima"><input type="password" name="password" placeholder="密码"></p>
    <p id="yan" hidden><input type="text" name="" placeholder="请输入验证码"><a href="#">发送验证码</a></p>
    <p id="yz"><a onclick="yan()">验证码登录</a><a href="#">忘记密码</a></p>
    <p id="mi" hidden><a onclick="mima()" >密码登录</a> <a href="#">忘记密码</a></p>
    <P><button type="submit">登录</button></P>
    <p><button><a href="rest.html">注册</a></button></p>
    <p><a href="#">游客访问</a></p>
</form>
<script>
function yan() {
    $("#yan").show();
    $("#mi").show();
    $("#yz").hide();
    $("#mima").hide();
}
function mima() {
    $("#mima").show();
    $("#yz").show();
    $("#mi").hide();
    $("#yan").hide();
}
</script>
</body>
</html>