<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div>
    <div id="maintype">
        <div th:each="laws:${allLaws}" class="fenlei">
            <div>
                <div><a th:text="${laws.lawsid}" th:onclick="'javascript:allClause('+${laws.id}+')'"></a></div>
                <p th:text="${laws.lawstype}"></p>
            </div>
        </div>
    </div>
    <p class="more">我的收藏<a th:href="${session.user!=null}?@{user}:@{/login.html}">更多></a></p>
    <div id="favorite">
        <hr/>
        <h2 style="text-align: center" th:if="${allFav==null || allFav.size()==0}">暂无收藏记录</h2>
        <p th:if="${allFav!=null || allFav.size()!=0}" th:each="fav:${allFav}"><a th:href="@{/oneClause(id=${fav.id})}"><b th:text="${fav.clause.clauseid}"></b>&nbsp;&nbsp;<span th:text="${fav.clause.title}"></span></a></p>
        <hr>
    </div>
</div>
<th:block th:include="~{common::footer}"></th:block>
<section>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript">
        function allClause(id) {
            location.href='/allPandC?id='+id;
        }
    </script>
</section>
</body>
</html>